<nav>
    <ul class="home">
        <li><p class="logo">Locavore International</p>
        <li><a href="/petition">Home</a></li>
    </ul>
    <ul>
        {{#if nav.loggedin}}
        <li><a href="/profile/edit">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
