<nav>
    <ul class="home">
        <li><a href="/petition">Home</a></li>
    </ul>
    <ul>
        <li><a href="/profile/edit">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
