<nav>
    <ul class="home">
        <li><p class="logo">Locavore International</p>
        <li><i class="fa fa-home"></i><a href="/petition">Home</a></li>
    </ul>
    <ul>
        {{#if nav.loggedin}}
        <li><i class="fa fa-user"></i><a href="/profile/edit">Edit Profile</a></li>
        <li><i class="fa fa-sign-out"></i><a href="/logout">Logout</a></li>
        {{else}}
        <li><i class="fa fa-sign-in"></i><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</nav>
