<h2>Let's get real chicken in chicken nuggets! Who's with me?</h2>
    <div id="carousel">
        <div class="chicken onscreen"><img src="/img/chicken-mcnugget.jpg" alt="fried chicken head"></div>
        <div class="chicken"><img src="/img/mcnuggets-raw.jpg" alt="raw meat for chicken nuggets"></div>
        <div class="chicken"><img src="/img/the-real-pink-slime.jpg" alt="the real pink slime"></div>
        <div class="chicken"><img src="/img/nugget-chicken.jpg" alt="nuggets acting like chickens"></div>
        <div class="chicken"><img src="/img/PinkSlime.gif" alt="pinkSlime facts"></div>
    </div>

    <p class="error">{{#if error}}
    There was a problem with your form. Please try again.
    {{/if}}</p>
    <div id="peition-form-div">
    <form method="post" action="/petition">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="sig-div">
            <label for="signature">Signature</label>
            <input type="hidden" name="signature" id="signature">

            <section>
                <canvas id="canv" width="300" height="100"></canvas>
            </section>
        </div>
        <div id="button-div">
            <button id="clear-btn" type="button" name="clear">CLEAR</button>
            <button type="submit" name="button">SUBMIT</button>
        </div>
    </form>

</div>
