<div class="petition above-fold">
    <h1>Eat Local!</h1>
    <h2>Pledge to eat local for 1 month! Who's in?</h2>
    <div id="carousel">
        <div class="food onscreen"><img src="/img/anne-preble-198119.jpg" alt="market"></div>
        <div class="food"><img src="/img/luke-syres-223433.jpg" alt="chickens"></div>
        <div class="food"><img src="/img/arnaldo-aldana-203173.jpg" alt="cabbages"></div>
        <div class="food"><img src="/img/keit-trysh-295253.jpg" alt="root veggies"></div>
        <div class="food"><img src="/img/peter-feghali-110596.jpg" alt="greens"></div>
        <div class="food"><img src="/img/rachael-gorjestani-154909.jpg" alt="eggs"></div>
    </div>
    <div class="under-carousel">
        <div id="peition-form-div">
            <form method="post" action="/petition">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="sig-div">

                    <p>Become part of the locavor movement! <br>Sign below to show your commitment to local eating: </p>
                    <p class="error">{{#if error}}
                    There was a problem with your form. Please try again.
                    {{/if}}</p>
                    <input type="hidden" name="signature" id="signature">

                    <section>
                        <canvas id="canv" width="300" height="100"></canvas>
                    </section>
                </div>
                <div id="button-div">
                    <button id="clear-btn" type="button" name="clear">CLEAR</button>
                    <button type="submit" name="button">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
