<h1>Sign this petition to put real chicken in chicken nuggets!</h1>
    <figure><img src="/img/chicken-mcnugget.jpg" alt="fried chicken head"></figure>
    <form method="post" action="/petition">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="First Name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name">
        <label for="signature">Signature</label>
        <input type="text" name="signature">

        <section>
            <canvas id="canvas" width="300" height="300"></canvas>
        </section>
    </form>
