<div class="profile above-fold">
    <figure class="top-fig-green">
        <img src="/img/arnaldo-aldana-203173.jpg" alt="fried chicken head">
    </figure>
    <p class="error">{{#if errorMsg}}
        There was a problem with your form. {{errorMsg}} Please try again.
        {{/if}}
    </p>
    <p>We are all special cabbages. Tell us a little about yourself: </p>
    <form method="post" action="/profile">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="inputs profile">
            <p><input type="text" name="age" placeholder="Age"></p>
            <p><input type="text" name="city" placeholder="City"></p>
            <p><input type="text" name="homepage" placeholder="Homepage"></p>
            <button type="submit" name="button">CONTINUE</button>
        </div>
    </form>
</div>
