<div class="thanks">
    <figure>
        <img src="/img/chicken-mcnugget.jpg" alt="fried chicken head">
    </figure>

    <h2>Thank you for signing this important petition to put <span class="emphasis">real</span> food back in to <span class="emphasis">fast</span> food!</h2>
    {{#this}}
    <figure class="signature"><img src="{{imgsrc}}" alt="signature image"></figure>
    {{/this}}
    <a href="/petition/signatures">See all {{count}} signers</a>

    <form action="/delete" method="POST" id="deleteSigForm">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a href="#" id="delete">Delete My Signature</a>
</div>
