/*
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
	background: #fff;
    color: #363636;
}

nav {
	width: 100%;
	height: 40px;
	display: fixed;
	background: #F26419;
	border-bottom: 1px #363636 solid;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul.home {
	float: left;
}

nav li {
	display: inline-block;
	padding: 6px 10px;
}

nav a {
	font-family: Arial, sans-serif;
	color: #EFF1F3;
	text-decoration: none;
	font-size: 14px;
}
nav a:visited {
	color:  #EFF1F3;
}

nav a:hover {
	color: #D8B4A0;
}

h1 {
	font-family: 'Lobster Two', cursive;
    font-size: 100px;
    margin: 30px 0 10px 0;
    line-height: 40px;
	color: white;
}

h2 {
    padding: 30px 0;
    font-family: Arial, sans-serif;
	color: #363636;
	font-size: 40px;
	text-align: center;

}

p,
label,
a {
    font-family: 'Bungee', Arial, sans-serif;
}


p {
	text-align: center;
}

a,
a:visited {
    color: #1f8e0b;
    margin: 0 auto;
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    font-family: Arial, sans-serif;
	font-size: 20px;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

figure,
#carousel {
	top: 0px;
	left: 0px;
    margin: 0 auto;
    text-align: center;
	height: 50vh;
	width: 100%;
}

#carousel {
	position: absolute;
}

.food {
    position: absolute;
    left: 0;
	top: 40px;
	width: 100%;
    height: 50vh;
    transform: translateX(100%);
	z-index: -1;
}

.food.onscreen {
    transform: translateX(0);
    transition-property: Transform;
    transition-duration: 1s;
}

.food.exit {
    transform: translateX(-100%);
    transition-property: Transform;
    transition-duration: 1s;
}

img {
    height: 100%;
    border: 4px #363636 solid;

}

.food img {
    width: 100%;
	height: 100%;
    object-fit: cover;
	border-radius: 0px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);

}

form {
    text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

input {
    font-size: 14px;
    padding: 4px;
    border: 2px #1f8e0b solid;
    border-radius: 10px;
    width: 200px;
}

button {
    font-size: 18px;
	margin-top: 20px;
    padding: 4px 10px;
    background-color: #1f8e0b;
    color: #EFF1F3;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background: #D77A61;
}

/*** petition page styles ***/
.petition h2 {
	margin-top: 40vh;
	color: #363636;
}

#petition-form-div {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

canvas {
    border: 2px #1f8e0b solid;
    border-radius: 10px;
}

/*** thanks/signatures styles ***/
div.thanks,
div.signees {
    text-align: center;
}

/*** THANK YOU PAGE STYLES ***/
.emphasis {
    font-family: 'Bungee', Arial, sans-serif;
    font-size: 30px;
}

figure.signature {
	width: 300px;
	height: 100px;
	border: 2px #1f8e0b solid;
    border-radius: 10px;
}

figure.signature > img {
	width: 100%;
}

.error {
	font-family: 'Bungee', Arial, sans-serif;
	font-size: 18px;
	color: #1f8e0b;
	text-align: center;
	margin-top: 30px;
}

div.inputs {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.signees a {
	font-family: Arial, sans-serif;
}
