@font-face{
	font-family: 'Bungee Shade';
	src: url('/fonts/Bungee-Shade-webfont.woff') format('woff')
}

@font-face{
	font-family: 'Bungee';
	src: url('/fonts/Bungee-Regular-webfont.woff') format('woff')
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #D8B4A0;
    color: #223843;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-family: 'Bungee Shade';
    font-size: 40px;
    margin: 30px 0 10px 0;
    line-height: 40px;
}

h2 {
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

div.thanks,
div.signees {
    text-align: center;
}

p,
label,
a {
    font-family: 'Bungee', Arial, sans-serif;
}


p {
	text-align: center;
}

a,
a:visited {
    color: #D77A61;
    margin: 0 auto;
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    font-family: Arial, sans-serif;
}

figure {
    height: 200px;
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

img {
    height: 100%;
    border: 10px #223843 solid;
    border-radius: 10px;
}

form {
    text-align: center;
}

input {
    font-size: 14px;
    padding: 4px;
    border: 2px #223843 solid;
    border-radius: 10px;
    width: 200px;
}

canvas {
    border: 2px #223843 solid;
    border-radius: 10px;

}

button {
    font-size: 18px;
	margin-top: 20px;
    padding: 4px 10px;
    background-color: #223843;
    color: #EFF1F3;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background: #D77A61;
}

/*** THANK YOU PAGE STYLES ***/
.emphasis {
    font-family: 'Bungee', Arial, sans-serif;
    font-size: 30px;
}

figure.signature {
	width: 300px;
	height: 100px;
	border: 2px #223843 solid;
    border-radius: 10px;

}

figure.signature > img {
	width: 100%;
}

.error {
	font-family: 'Bungee', Arial, sans-serif;
	font-size: 18px;
	color: #D77A61;
	text-align: center;
	margin-top: 30px;
}


div.inputs {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
