/*
font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
	background: #fff;
    color: #363636;
}

nav {
	width: 100%;
	height: 40px;
	display: fixed;
	background: #F26419;
	border-bottom: 1px #C75215 solid;
}

.fa {
    color: white;
    padding-right: 5px;
}
nav ul {
	list-style: none;
	float: right;
}

nav ul.home {
	float: left;
}

nav li {
	display: inline-block;
	padding: 6px 10px;
}

nav a {
	font-family: 'Poppins', sans-serif;
	color: white;
	text-decoration: none;
	font-size: 14px;
}
nav a:visited {
	color:  white;
}

nav a:hover {
	color: #363636;
}

.logo {
    font-family: 'Lobster Two', cursive;
    font-size: 18px;
    color: white;
}
h1 {
	font-family: 'Lobster Two', cursive;
    font-size: 9em;
    margin: 100px 0 10px 0;
    line-height: 40px;
	color: white;
	text-align: center;
}

h2 {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
	color: #363636;
	font-: ;size: 30px;
	text-align: center;

}

p,
label,
a {
    font-family: 'Poppins', sans-serif;
}


p {
	text-align: center;
}

a,
a:visited {
    color: #1f8e0b;
    margin: 0 auto;
    font-size: 20px;
}

ul {
    list-style: none;
}

li {
    font-family: Arial, sans-serif;
	font-size: 20px;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

figure,
#carousel {
	top: 40px;
	left: 0px;
    margin: 0 auto;
    text-align: center;
	height: 50vh;
	width: 100%;
}

#carousel {
	position: absolute;
}

.food {
    position: absolute;
    left: 0;
	top: 0;
	width: 100%;
    height: 50vh;
    transform: translateX(100%);
	z-index: -1;
}

.food.onscreen {
    transform: translateX(0);
    transition-property: Transform;
    transition-duration: 1s;
}

.food.exit {
    transform: translateX(-100%);
    transition-property: Transform;
    transition-duration: 1s;
}

img {
    height: 100%;
    border: 4px #363636 solid;

}

.food img {
    width: 100%;
	height: 100%;
    object-fit: cover;
	border-radius: 0px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);

}

form {
    text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

input {
    font-size: 14px;
    padding: 4px;
    border: 2px #1f8e0b solid;
    border-radius: 10px;
    width: 200px;
}

button {
    font-size: 18px;
	margin-top: 20px;
    padding: 4px 10px;
    background-color: #1f8e0b;
    color: #EFF1F3;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background: #F26419;
}

/*** petition page styles ***/
.petition h2 {
	margin-top: 31vh;
    margin-bottom: 10px;
	color: #363636;
}

#petition-form-div {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

canvas {
    border: 2px #1f8e0b solid;
    border-radius: 10px;
}

/*** thanks/signatures styles ***/
div.thanks,
div.signees,
div.login,
div.profile {
	margin-top: 20px;
    text-align: center;
}

.emphasis {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

figure.top-fig > img {
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
    border: 2px #F26419 solid;
}

figure.signature {
	width: 300px;
	height: 100px;
	border: 2px #1f8e0b solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

figure.signature > img {
	width: 100%;
}

.thanks figure.signature {
    border: none;
}

.error {
	font-family: 'Bungee', Arial, sans-serif;
	font-size: 18px;
	color: #1f8e0b;
	text-align: center;
	margin-top: 30px;
}

div.inputs {
	width: 80%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
}

.register {
	min-width: 300px;
}

.register p,
.inputs p{
    display: inline-block;
    margin: 6px;
}

.register button,
.profile button {
    width: 200px;
    margin: 0 auto;
}

div.edit {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

}


.edit figure {
    width: 100%;
    height: auto;
    margin: 0;
    display: inline-block;

}

.edit img {
    width: 100%;
    height: auto;
}
.edit input {
    margin: 5px 0;
}

.edit button,
.petition button {
    margin-top: 10px;
}

label {
    width: 150px;
    text-align: left;
    padding-right: 20px;
    float: left;
}

@media (max-width: 507px) {
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 7em;
    }

    .logo {
        display: none;
    }
}
